{% extends 'event_logger/layout.html' %}

{% block title %} Form to add a event {% endblock %}


{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-3">
                    <div class="features">
                        <h1>Form to add a event</h1>
                            <form method="post" class="alert alert-warning">
                                {% csrf_token %}
                                {{ form.title }}<br>
                                {{ form.point }}<br>
                                {{ form.place }}<br>
                                {{ form.description }}<br>
                                <span>{{ error }}</span>
                                <button class="btn btn-success" type="submit">Add event</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
